.note-editor {
  .note-icon-caret {
    margin-right: -7px;
  }

  .dropdown-toggle::after {
    display: none;
    .note-icon-caret {
      display: none;
    }
  }

  button {
    // padding: 5px
    height: 32.17px;
  }
}