// Toolbar styling
.note-editor {
  .note-placeholder {
    padding: 17px !important;
  }

  .note-icon-caret {
    margin-right: -7px;
  }

  .dropdown-toggle::after {
    display: none;
    .note-icon-caret {
      display: none;
    }
  }

  .note-align {
    width: 212px;
  }

  button {
    height: 32.17px;
  }

  .note-toolbar {
    container-type: inline-size;
    z-index: 130;

    display: flex;
    justify-content: center;
  }

  .note-style .note-btn-group:nth-child(2) {
    display: none;
  }

  // Responsiveness
  @container (max-width: 445px) {
    .note-misc {
      display: none;
    }
  }

  @container (max-width: 630px) {
    .note-font {
      display: none;
    }

    .note-style .note-btn-group:nth-child(2) {
      display: inline-block;
    }
  }

  @container (max-width: 370px) {
    .note-table {
      display: none;
    }
  }


  // Edit image popover
  .note-image-popover {
    .note-popover-arrow {
      transform: rotate(180deg) translate(0, -580%);
    }
    transform: translate(-1%, -140%);
  }
  .note-control-selection-info {
    display: none;
  }
}

// Editor Styling
.note-editable {
  font-family: inherit;

  text-align: left;

  .p-break {
    display: block !important;
  }

  span {
    font-size: inherit !important;
  }

  // Basic elements
  p {
    margin: 7px;
    text-indent: 0;
  }

 

  h1,
  h3,
  h4,
  h5,
  h6,
  div,
  p {
    &:empty {
      // Era pra ser display: none, mas tava dando bug no CSS
      line-height: 0;
    }

    text-align: left;
    font-size: unset;
  }

  h2 {
    font-size: 110%;
    text-align: center;
  }

  sub,
  sup {
    font-size: 80%;
  }
 
  h5,
  h6 {
    font-size: 80% !important;
    text-indent: 0mm !important;
    text-align: right;
    word-break: break-all !important;
    display: block;
    margin-block-start: 1mm !important;
    margin-block-end: 2mm !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-weight: normal;

    span,
    h3,
    h4,
    div,
    i,
    b {
      text-indent: 0mm;
    }
  }


  // Images
  img {
    overflow: visible;
    border: none;
    outline: 2px solid #AFAFAF;
    border-radius: 2px;
    outline-offset: 8px;
    margin: 8px 14px;
  }

  .img-div {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 4mm;
    padding-bottom: 4mm;

    &.inline {
      display: inline-block;
      width: fit-content;
      overflow: visible;
      margin: 0px 10px;

      img {
        overflow: visible;
        border: none;
        outline: 2px solid #AFAFAF;
        border-radius: 2px;
        outline-offset: 10px;
      }
    }
  }

  // Tables
  .table-bordered {
    border: 1px solid #dee2e6;

    th,
    td {
      border: 1px solid #dee2e6;
    }

    thead th,
    thead td {
      border: 1px solid #dee2e6;
    }
  }
}

// Interaction with max.ia CSS fixes
.note-editor {
  .btn {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    float: right
  }

  .note-modal-footer {
    height: 70px;
  }

  .note-btn-primary {
    background: #009dcc;
  }
}
