.note-editor .note-placeholder {
  padding: 17px !important;
}
.note-editor .note-icon-caret {
  margin-right: -7px;
}
.note-editor .dropdown-toggle::after {
  display: none;
}
.note-editor .dropdown-toggle::after .note-icon-caret {
  display: none;
}
.note-editor .note-align {
  width: 212px;
}
.note-editor button {
  height: 32.17px;
}
.note-editor .note-toolbar {
  container-type: inline-size;
  z-index: 130;
  display: flex;
  justify-content: center;
}
.note-editor .note-style .note-btn-group:nth-child(2) {
  display: none;
}
@container (max-width: 445px) {
  .note-editor .note-misc {
    display: none;
  }
}
@container (max-width: 630px) {
  .note-editor .note-font {
    display: none;
  }
  .note-editor .note-style .note-btn-group:nth-child(2) {
    display: inline-block;
  }
}
@container (max-width: 370px) {
  .note-editor .note-table {
    display: none;
  }
}
.note-editor .note-image-popover {
  transform: translate(-1%, -140%);
}
.note-editor .note-image-popover .note-popover-arrow {
  transform: rotate(180deg) translate(0, -585%);
}
.note-editor .note-control-selection-info {
  display: none;
}

.note-editable {
  font-family: inherit;
  text-align: left;
}
.note-editable .p-break {
  display: block !important;
}
.note-editable span {
  font-size: inherit !important;
}
.note-editable p {
  margin: 7px;
  text-indent: 0;
}
.note-editable h1,
.note-editable h3,
.note-editable h4,
.note-editable h5,
.note-editable h6,
.note-editable div,
.note-editable p {
  text-align: left;
  font-size: unset;
}
.note-editable h1:empty,
.note-editable h3:empty,
.note-editable h4:empty,
.note-editable h5:empty,
.note-editable h6:empty,
.note-editable div:empty,
.note-editable p:empty {
  line-height: 0;
}
.note-editable h2 {
  font-size: 110%;
  text-align: center;
}
.note-editable sub,
.note-editable sup {
  font-size: 80%;
}
.note-editable h5,
.note-editable h6 {
  font-size: 80% !important;
  text-indent: 0mm !important;
  text-align: right;
  word-break: break-all !important;
  display: block;
  margin-block-start: 1mm !important;
  margin-block-end: 2mm !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: normal;
}
.note-editable h5 span,
.note-editable h5 h3,
.note-editable h5 h4,
.note-editable h5 div,
.note-editable h5 i,
.note-editable h5 b,
.note-editable h6 span,
.note-editable h6 h3,
.note-editable h6 h4,
.note-editable h6 div,
.note-editable h6 i,
.note-editable h6 b {
  text-indent: 0mm;
}
.note-editable img {
  max-width: 100%;
  border: 2px solid #AFAFAF;
  border-radius: 8px;
}
.note-editable .img-div {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 4mm;
  padding-bottom: 4mm;
}
.note-editable .img-div.inline {
  display: inline-block;
  width: fit-content;
}
.note-editable .table-bordered {
  border: 1px solid #dee2e6;
}
.note-editable .table-bordered th,
.note-editable .table-bordered td {
  border: 1px solid #dee2e6;
}
.note-editable .table-bordered thead th,
.note-editable .table-bordered thead td {
  border: 1px solid #dee2e6;
}

.note-editor .btn {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  float: right;
}
.note-editor .note-modal-footer {
  height: 70px;
}
.note-editor .note-btn-primary {
  background: #009dcc;
}

/*# sourceMappingURL=summernote.css.map */
