// Toolbar styling
.note-editor {
  .note-placeholder {
    padding: 17px !important;
  }

  .note-icon-caret {
    margin-right: -7px;
  }

  .dropdown-toggle::after {
    display: none;
    .note-icon-caret {
      display: none;
    }
  }

  .note-align {
    width: 212px;
  }

  button {
    height: 32.17px;
  }

  .note-toolbar {
    container-type: inline-size;
    z-index: 130;

    display: flex;
    justify-content: center;
  }

  .note-style .note-btn-group:nth-child(2) {
    display: none;
  }

  // Responsiveness
  @container (max-width: 445px) {
    .note-misc {
      display: none;
    }
  }

  @container (max-width: 630px) {
    .note-font {
      display: none;
    }

    .note-style .note-btn-group:nth-child(2) {
      display: inline-block;
    }
  }

  @container (max-width: 370px) {
    .note-table {
      display: none;
    }
  }


  // Edit image popover
  .note-image-popover {
    .note-popover-arrow {
      transform: rotate(180deg) translate(0, -580%);
    }
    transform: translate(-1%, -140%);
  }
  .note-control-selection-info {
    display: none;
  }

  // Placeholder correction
  p {
    margin: 7px;
    text-indent: 0;
  }
}

// Interaction with max.ia CSS fixes
.note-editor {
  .btn {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    float: right
  }

  .note-modal-footer {
    height: 70px;
  }

  .note-btn-primary {
    background: #009dcc;
  }
}
